.card{
    background-color: hotpink!important;
    height: 600px!important;
}
.card-body{
    display: flex!important;
    flex-direction: column!important;
    justify-content: center!important;
}
.cardDescription{
    height: 110px!important;
}
.cardButton{
    border-radius: 4px;
    border: none;
    background-color: rgb(101, 43, 72);
    color: white;
    padding: 1rem;
}